@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-stone-100 text-stone-900 font-mono;
  }

  #root {
    @apply min-h-screen;
  }

  * {
    @apply box-border;
  }

  a {
    @apply text-inherit no-underline;
  }
}
